@media only screen and (min-width: 601px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: flex;
        width: 95vw;
        height: 95vh;
        justify-content: center;
        margin-top:1.5% ;
        background-color: black;
    }
    .controller{
        display: none;

    }
    canvas{
        border: white dashed 2px;
        height: 75vh;
        width:75vh;
    }

}
@media only screen and (max-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        background: black;
    }
    canvas#screen{
        width: 95vw;
        height:95vw;
    }
    .controller{
        position: relative;
        visibility: visible;
        display: flex;
        margin-top: 2% ;
        align-content: space-between;
        justify-content: space-evenly;
    }
    .d-pad.KeyD{
        background: linear-gradient(270deg, hsla(0, 0%, 29%, 1) 0%, hsla(0, 0%, 50%, 1) 50%);
    }
    .d-pad.KeyA{
        background: linear-gradient(90deg, hsla(0, 0%, 29%, 1) 0%, hsla(0, 0%, 50%, 1) 50%);
    }
    .d-pad.KeyS{
        background: linear-gradient(0deg, hsla(0, 0%, 29%, 1) 0%, hsla(0, 0%, 50%, 1) 50%);
    }
    .d-pad.KeyW{
        background: linear-gradient(180deg, hsla(0, 0%, 29%, 1) 0%, hsla(0, 0%, 50%, 1) 50%);
    }
    .d-pad{
        background: gray;
        position: absolute;
        left: 5%;
        top:50%;
        width: 45vw;
        height:45vw;
        border-radius: 50%;
    }
    #KeyR{
        height: 5vh;
        width: 30vw;
        margin: 7% 0 20% 20% ;
        background: #f55252;
        border-radius: 10%;
    }
    .arrow{
        --arrow-size: 25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0
        var(--arrow-size)
        calc(var(--arrow-size) * 1.5774)
        var(--arrow-size);
        border-color: transparent transparent #c2c2c2 transparent;
    }
    .left{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%) rotate(270deg);
    }
    .right{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%) rotate(90deg);
    }
    .up{
        position: absolute;
        top: 9%;
        left: 50%;
        transform: translateX(-50%);
    }
    .down{
        position: absolute;
        bottom: 9%;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
    }
    
}